<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset = "UTF-8">
  <meta name = "viewport" content = "width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
  <title>Hallabol '21</title>
  <link rel = "icon" href = "/images/hallabol-18-logo.png">
  <!--Bootstrap-->
  <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel = "stylesheet" href = "css/w3.css">
  <link rel = "stylesheet" href = "css/index.css">
  <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
    * {
      font-family: 'lato';
    }

  </style>
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>

<body>

  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-ball'></i>
      <div class="logo_name">Hallabol!</div>
      <i class='bx bx-menu' id="btn" onclick = 'sidebar_open()'></i>
    </div>

    <ul class="nav-list" style="padding-inline-start: 7px;">
      <!-- <li>
        <i class='bx bx-search'></i>
        <input type="text" placeholder="Search...">
        <span class="tooltip">Search</span>
      </li> -->
      <li>
        <a href="/">
          <i class='bx bx-home bx-md'></i>
          <span class="links_name">Home</span>
        </a>
        <span class="tooltip">Home</span>
      </li>
      <li>
        <a href="#game">
          <i class='bx bx-game bx-md'></i>
          <span class="links_name">Games</span>
        </a>
        <span class="tooltip">Games</span>
      </li>
      <li>
        <a href="#team">
          <i class='bx bx-group bx-md'></i>
          <span class="links_name">Teams</span>
        </a>
        <span class="tooltip">Teams</span>
      </li>
      <li>
        <a href="/logout">
          <i class='bx bx-log-out bx-md'></i>
          <span class="links_name">Logout</span>
        </a>
        <span class="tooltip">Logout</span>
      </li>
      
    </ul>


    <div class="navHorList row" id = "navHorList">
      <div class="col-lg-8 col-md-10">
        <ul class="list-inline text-center" display: inline;">
          <li class = "list-inline-item">
            <a href="/">
              <i class='bx bx-home bx-md'></i>
              <span class="links_name">Home</span>
            </a>
            <span class="tooltip">Home</span>
          </li>
          <li class = "list-inline-item">
            <a href="#game">
              <i class='bx bx-game bx-md'></i>
              <span class="links_name">Games</span>
            </a>
            <span class="tooltip">Games</span>
          </li>
          <li class = "list-inline-item">
            <a href="#team">
              <i class='bx bx-group bx-md'></i>
              <span class="links_name">Teams</span>
            </a>
            <span class="tooltip">Teams</span>
          </li>
          <li class = "list-inline-item">
            <a href="/logout">
              <i class='bx bx-log-out' ></i>
              <span class="links_name">Logout</span>
            </a>
            <span class="tooltip">Logout</span>
          </li>
        </ul>
      
      </div>
    </div>



  </div>

<div class = "site" style="padding-left: 40px;">  

<!---------------------------------------------------------------------------------------------->

  <div class="sidebarFont w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id = "mySidebar" style= "padding-left: 10px;">
  </div>

<!---------------------------------------------------------------------------------------------->


  <div id="main" style="font-family : 'poppins'; position: sticky; top: 0 !important;">

      <div class="row sticky-top" style="background-color: #090A0B; clear: both;">
          <div class="navbar" style="width : 100%; padding-right: 4vw; align-content: center;">
              
              <div class="sectionHeading"
                  style="width : 27vw;margin-left: 30vw; text-align: center; font-size: 1em;">
                  Hallabol '21
              </div>

              <div style="padding-bottom: 1vw;">
                <% if (user.name != null) { %>
                  <a href="" style="text-decoration: none; font-size: 0.8em;"> Logged In! </a>
                <% } else { %>
                <div  id = "login_"
                    style="color:#090A0B ; text-align: center; font-weight:700; font-size: 0.8em;">                    
                    <a href="/login" style="text-decoration: none;">Login</a>
                </div>
                <% } %>
              </div>

          </div>
      </div>

  <div id = "main"  style= "font-family : 'poppins';">

 <!---------------------------------------------------------------------------------------------->

      <div class = "row sticky-top" style = "background-color: transparent; clear: both;">
        <button id="openNav" class="w3-button w3-xlarge" onclick="sidebar_open()" style="margin-right: 25%;"></button>
      </div>

      <div class="w3-container">
        <div id="first_para" style="margin-left:5%; font-size: 80%; margin-right: 5%; margin-top: 5%; margin-bottom: 3%; font-weight: 300;">
          <!-- <div style = "text-align: center;">
            <a href = "/futsal-register"type="button" class="btn btn-light" style= "border-radius: 20vw;  font-size: 100%;font-weight: 900;width:20vw; margin-right: auto; margin-left: auto; display: block;">Register</a>
          </div> -->
          <div class = "row justify-content-center" style="margin-left: 6vw;">
            <div style="font-size: 150%;">
              Dodgeball
            </div>
          <div class = "col-lg-6 col-md-6 col-sm-6 col-6">
            <a href = "/dodgeball-register"type="button" class="btn btn-light" style= "border-radius: 20vw;  font-size: 100%;font-weight: 900;width:27vw; margin-right: auto; margin-left: auto; display: block;">Register</a>
          </div>
          </div>

          <br><br>
          
          <div>Team Formation Rules:<div>
          <ul>
            <li>Teams can be comprised of both male and female players 
            </li><li>Every Team must have five players on field and one extra substitute player (5+1). 
            </li><li>There should be players from minimum two batches in a Team 
            </li><li>M-tech, PhD and Faculty will be considered different batches. 
            </li><li>If a team has a girl member in it, the team will have to dodge for 1 min 45 sec instead of 2 min. The time reduced will be 15 sec only in the first round, regardless of the number of girls that you take in your team (refer to game rules). 
            </li><li>In case of any injury/absence of a player, you may only play with unregistered players only. 
</li></ul> 

          <!-- <br> -->
          
          <!-- <div>Pool Players:</div>
          <ul type = "none">
            <li><i class='bx bx-right-arrow-alt' style="width: 4vw;"></i>Jitender Kumar</li>
            <li><i class='bx bx-right-arrow-alt' style="width: 4vw;"></i>Rwik Rana</li>
            <li><i class='bx bx-right-arrow-alt' style="width: 4vw;"></i>Prankush Agarwal</li>
            <li><i class='bx bx-right-arrow-alt' style="width: 4vw;"></i>Dhruv Menon</li>
            <li><i class='bx bx-right-arrow-alt' style="width: 4vw;"></i>Vikram Negi</li>
            <li><i class='bx bx-right-arrow-alt' style="width: 4vw;"></i>Akshay</li>
            <li><i class='bx bx-right-arrow-alt' style="width: 4vw;"></i>Preet Shah</li>
            <li><i class='bx bx-right-arrow-alt' style="width: 4vw;"></i>Thenglianmang Haokip</li>
          </ul> -->

          <br>

          <div>Game Rules:</div>
          <ul>
            <li>Each match consists of 2 games.
            </li><li>The first game would be a conventional Dodge Ball of 2 mins (If a team has a girl member, the time would be reduced to 1 min 45 sec). 
            </li><li>The second game will have 2 balls for 1 min. 
            </li><li>In case of a draw round 2 would be repeated.
            </li><li>The points would be calculated on the basis of the number of people getting out:
            </li><li>Those who get hit by the ball below the shoulder level (If they are hit on the head, they won’t be considered as out unless they bring their head intentionally)
            </li><li>Those who cross over the circle, i.e. the opponents have to be totally aware that they are not out of the circle, if they don’t want to lose a player.
            </li><li>Those players can join back if that round of play gets over. 
            </li><li>After every round, that is when the whole team inside gets out, the time will be stopped and they’ll be given 15 seconds to return (time would be stopped for that duration). 
            </li><li>Team with the minimum points (minimum number of players lost in the total match) will win.
            </li><li>If all players are out then their time will be noted and the team with more time in the ring will win. 
            </li><li>Referee’s decision would be the final. </li>
          </ul>
          <br>
          <div>Covid Safety Rules and Guidelines:</div>
          <ul>
            <li>Except for the two teams playing, everyone (including the organizers, substitutes and referee) must wear a mask at all
            times.</li>
            <li>All players who will participate in the game will have to sanitize at first and then wear gloves while playing. If
            students face any breathing difficulty while dodging the ball they can lower their mask but players outside the ring
            must wear the mask at all times.</li>
          </ul>
          <br>
          <div>For any queries contact :</div>
          <ul type = "none">
            <li><i class='bx bx-right-arrow-alt' style="width: 4vw;"></i> Chetan Kishore | 6266052801</li>
            <li><i class='bx bx-right-arrow-alt' style="width: 4vw;"></i> Pintu Kumar | 9352267636</li>
          </ul>

      </div> 
      <br>

      <div style = "text-align: center;">
        <a href = "/dodgeball-register"type="button" class="btn btn-light" style= "border-radius: 20vw;  font-size: 100%;font-weight: 900;width:27vw; margin-right: auto; margin-left: auto; display: block;">Register</a>
      </div>

 <!---------------------------------------------------------------------------------------------->

      <!-- <div style="width:100%;padding:0; margin: 0; margin-top: 4%;"> -->
    </div> 

        
    <br>
    <footer>
      <div style="padding-left: 5%; padding-right: 5%;"line><hr><br>
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <ul class="list-inline text-center">
                <li class="list-inline-item" >
                  <a href="https://www.facebook.com/iitgn.official/" target="_blank" id = "footer-icon">
                    <span class="fa-stack fa-lg">
                      <i class='bx bxl-facebook' ></i>
                      <!-- <i class="bx bxl-facebook"></i> -->
                    </span>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://iitgn.ac.in/" target="_blank" id = "footer-icon">
                    <span class="fa-stack fa-lg">
                      <i class='bx bx-globe' ></i>
                      <!-- <i class="fa fa-globe fa-stack-1x fa-inverse"></i> -->
                    </span>
                  </a>
                </li>
                <li class="list-inline-item" >
                  <a href="mailto:hallabol@iitgn.ac.in" target="_blank" id = "footer-icon">
                    <span class="fa-stack fa-lg">
                      <i class='bx bx-mail-send' ></i>
                      <!-- <i class="fa fa-envelope fa-stack-1x fa-inverse"></i> -->
                    </span>
                  </a>
                </li>
                <li class="list-inline-item" >
                  <a href="https://www.youtube.com/user/IITGN1" target="_blank" id = "footer-icon">
                    <span class="fa-stack fa-lg">
                      <i class='bx bxl-youtube' ></i>
                      <!-- <i class="fab fa-youtube fa-stack-1x fa-inverse"></i> -->
                    </span>
                  </a>
                </li>
              </ul>
              <p class="copyright text-muted text-center" style="font-size:70%;">Copyright &copy; Hallabol 2021</p>
            </div>
          </div>
      </div>
  </footer> 

      </div>
    </div>
  </div>

  <!--Scripts-->
  <script src = "/js/futsal.js"></script>
  <script src = "https://apis.google.com/js/platform.js" async defer></script>
  <script src = "https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity = "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin = "anonymous"></script>
  <script src = "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity = "sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin = "anonymous"></script>
  <script src = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity = "sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin = "anonymous"></script>
  <!-- <script>
    
  </script> -->

</body>