<!DOCTYPE html>
<html>
<head>
    <meta name = "viewport" content = "width=device-width, minimum-scale=1">
    <meta http-equiv = "X-UA-Compatible" content = "ie=edge">
    <title>Hallabol'21</title>
    <meta name = "author" content = "Reuben Devanesan">
    <meta name = "description" value = "Hallabol'21">
    <link rel = "icon" href = "/images/hallabol-18-logo.png">
    <!--Bootstrap-->
    <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel = "stylesheet" href = "/css/games.css">
    <script src="https://kit.fontawesome.com/9d7cc8090d.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class = "site">
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Hallabol'21</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                </ul>
                <ul class="navbar-nav mt-2">
                    <li class="nav-item"><a class="nav-link" href="/team">Team</a></li>
                </ul>
                <ul class="navbar-nav mt-2">
                    <li class="nav-item active"><a class="nav-link" href="/games">Games</a></li>
                </ul>
                <ul class="navbar-nav mt-2">
                    <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!--Event Logos Slideshow-->
    <div class="container-fluid">
    <div class="slideshow-container">
        <div class="mySlides1">
        <img class="event-slides" src="/images/temp/4.jpg">
        </div>

        <div class="mySlides1">
        <img class="event-slides" src="/images/temp/4.jpg">
        </div>

        <div class="mySlides1">
        <img class="event-slides" src="/images/temp/4.jpg">
        </div>


        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

        <br>
        <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        </div>
    </div>
    </div>
    <br>

    <div class="container-fluid events-infoo">
        <div class="slideshow-container">
        <!--Event 1-->
        <!--Cryptorush-->
        <div class="mySlides2">
          <br>
          <div class="box1">
            <h1 class="box-heading">Football</h1>
            <div class="row">
              <div class="col-12 box-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in velit porta, pretium justo quis, imperdiet tellus. Donec malesuada velit sed ex lobortis convallis. Pellentesque sed suscipit libero. Maecenas ullamcorper efficitur turpis, nec pulvinar sapien pellentesque in. In turpis ipsum, faucibus eu commodo et, eleifend ut mauris. In gravida sem non elit blandit mattis. Suspendisse purus lorem, suscipit sed sapien eget, accumsan blandit nisi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus lacus est, imperdiet a arcu nec, ultricies molestie erat. Nam eu porttitor odio.
                </div>
            </div>
          </div>
        </div>

        <!--Event 2-->
        <!--Dcode-->
        <div class="mySlides2">
          <br>
          <div class="box1">
            <h1 class="box-heading">Volleyball</h1>
            <div class="row">
              <div class="col-12 box-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in velit porta, pretium justo quis, imperdiet tellus. Donec malesuada velit sed ex lobortis convallis. Pellentesque sed suscipit libero. Maecenas ullamcorper efficitur turpis, nec pulvinar sapien pellentesque in. In turpis ipsum, faucibus eu commodo et, eleifend ut mauris. In gravida sem non elit blandit mattis. Suspendisse purus lorem, suscipit sed sapien eget, accumsan blandit nisi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus lacus est, imperdiet a arcu nec, ultricies molestie erat. Nam eu porttitor odio. 
              </div>
            </div>
          </div>
        </div>

        <!--Event 3-->
        <!--Icon-->
        <div class="mySlides2">
          <br>
          <div class="box1">
            <h1 class="box-heading">Cricket</h1>
            <div class="row">
              <div class="col-12 box-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in velit porta, pretium justo quis, imperdiet tellus. Donec malesuada velit sed ex lobortis convallis. Pellentesque sed suscipit libero. Maecenas ullamcorper efficitur turpis, nec pulvinar sapien pellentesque in. In turpis ipsum, faucibus eu commodo et, eleifend ut mauris. In gravida sem non elit blandit mattis. Suspendisse purus lorem, suscipit sed sapien eget, accumsan blandit nisi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus lacus est, imperdiet a arcu nec, ultricies molestie erat. Nam eu porttitor odio.
                </div>
            </div>
          </div>
        </div>
    <div>   

    <br><br><br>

    <footer>
        <div class="container"><hr><br>
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                    <a href="https://www.facebook.com/iitgn.official/" target="_blank" id = "footer-icon">
                        <span class="fa-stack fa-lg">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-facebook-f  fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    </li>
                    <li class="list-inline-item">
                    <a href="https://iitgn.ac.in/" target="_blank" id = "footer-icon">
                        <span class="fa-stack fa-lg">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    </li>
                    <li class="list-inline-item" >
                    <a href="mailto:hallabol@iitgn.ac.in" target="_blank" id = "footer-icon">
                        <span class="fa-stack fa-lg">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    </li>
                    <li class="list-inline-item" >
                    <a href="https://www.youtube.com/user/IITGN1" target="_blank" id = "footer-icon">
                        <span class="fa-stack fa-lg">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    </li>
                </ul>
                <p class="copyright text-muted text-center">Copyright &copy; Hallabol 2021</p>
                </div>
            </div>
        </div>
    </footer>  
    </div>      

    <!--Scripts-->
    <script src = "//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
    <script src = "https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity = "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin = "anonymous"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity = "sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin = "anonymous"></script>
    <script src = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity = "sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin = "anonymous"></script>
    <script src = "/js/index.js"></script>
    <script type="text/javascript">
        var slideIndex = [0];
        var slideId = ["mySlides1", "mySlides2"]
        showSlides(1);
      
        //var slideIndexo = 0;
        //carousel();
      
        function plusSlides(n) {
          showSlides(slideIndex[0] += n);
          var element = document.getElementsByClassName(slideId[0]);
          if (n > 0) {
            for (i = 0; i < element.length; i++) {
              element[i].classList.remove("animate-left");
              element[i].classList.add("animate-right");
            }
          }
          if (n < 0) {
            for (i = 0; i < element.length; i++) {
              element[i].classList.remove("animate-right");
              element[i].classList.add("animate-left");
            }
          }
        }
      
        //For the dots.
        function currentSlide(n) {
          showSlides(slideIndex[0] = n);
        }
      
        //Function to show only the nth slide and rest are hidden.
        function showSlides(n) {
          var i;
          var x1 = document.getElementsByClassName(slideId[0]);
          var x2 = document.getElementsByClassName(slideId[1]);
          var dots = document.getElementsByClassName("dot");
      
          if (n > x1.length) {
            slideIndex[0] = 1;
          }
          if (n < 1) {
            slideIndex[0] = x1.length;
          }
          for (i = 0; i < x1.length; i++) {
            x1[i].style.display = "None";
            x2[i].style.display = "None";
          }
          for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
          }
          //slideIndexo++;
          x1[slideIndex[0] - 1].style.display = "block";
          x2[slideIndex[0] - 1].style.display = "block";
          dots[slideIndex[0] - 1].className += " active";
        }
    </script>
</body>
</html>