<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset = "UTF-8">
  <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
  <title>Hallabol'21</title>
  <link rel = "icon" href = "/images/hallabol-18-logo.png">
  <!--Bootstrap-->
  <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel = "stylesheet" href = "css/w3.css">
  <link rel = "stylesheet" href = "css/index.css">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
    /* @import url(fonts/Sailec-Regular.ttf); */
    * {
      font-family: 'poppins';
    }

  </style>
</head>

<body>
  <div class = "site">  
    <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id = "mySidebar" style= "padding-left: 10px;">
      <button class="w3-bar-item w3-button w3-large" onclick="sidebar_close()" style="margin-top: 10px;">Close &times;</button>
      <a href="#" class="w3-bar-item w3-button">Home</a>
      <a href="#" class="w3-bar-item w3-button">Games</a>
      <a href="#" class="w3-bar-item w3-button">Team</a>
    </div>

   <div id = "main"  style= "font-family : 'poppins'">
      <div class = "row" style = "background-color: grey; padding-right: 0px;">
        <div class = "navbar" style = "background-color : #339999; width : 100%; padding-right: 50px;">
          <button id="openNav" class="w3-button w3-xlarge" onclick="sidebar_open()">&#9776;</button>
          <div style = "width : 200px; text-align: center;margin-left: auto; margin-right: auto; font-size: 3em;">Hallabol</div>
          <div style = "color: #e6f2f2 ;"><a href="https://www.google.com/" target="_blank">Login</a></div>
        </div>
      </div>

      <div class="w3-container">
        <div id="first_para" style="margin-top:20px; padding-left: 100px; padding-right: 100px; padding-bottom: 20px; font-size : large;">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam sunt enim hic accusantium 
          veniam. Itaque laudantium laborum, temporibus velit quis ipsa accusantium, quidem amet autem animi nisi dolore in ab!
        </div>
        <div style="margin-right: auto; margin-left: auto; width: 85vw;">
          <img src="https://cdn.dnaindia.com/sites/default/files/styles/full/public/2020/07/23/914879-846293-yuzvendra-chahal.jpg" style="border-radius: 25px;">
        </div>
        <div style= "margin-top:20px; padding-left: 100px; padding-right: 100px; padding-bottom: 20px; font-size: large;">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, placeat nisi hic, neque error
          ad quisquam velit aut, facilis quibusdam fuga porro dignissimos architecto provident maiores possimus nobis. Odit, tempora.
        </div>
        <div style= "margin-top:20px; padding-left: 100px; padding-right: 100px; padding-bottom: 20px; font-size: 3em ;">
          Featured Sports So Far!
        </div>
      </div>
    </div>
  </div>

  <!--Scripts-->
  <script src = "/js/index.js"></script>
  <script src = "https://apis.google.com/js/platform.js" async defer></script>
  <script src = "https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity = "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin = "anonymous"></script>
  <script src = "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity = "sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin = "anonymous"></script>
  <script src = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity = "sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin = "anonymous"></script>
</body>