<!DOCTYPE html>
<html>
<head>
    <meta name = "viewport" content = "width=device-width, minimum-scale=1">
    <meta http-equiv = "X-UA-Compatible" content = "ie=edge">
    <title>Hallabol'21</title>
    <meta name = "author" content = "Reuben Devanesan">
    <meta name = "description" value = "Hallabol'21">
    <link rel = "icon" href = "/images/hallabol-18-logo.png">
    <!--Bootstrap-->
    <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel = "stylesheet" href = "/css/team.css">
    <script src="https://kit.fontawesome.com/9d7cc8090d.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class = "site">
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Hallabol'21</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                </ul>
                <ul class="navbar-nav mt-2">
                    <li class="nav-item active"><a class="nav-link" href="/team">Team</a></li>
                </ul>
                <ul class="navbar-nav mt-2">
                    <li class="nav-item"><a class="nav-link" href="/">Games</a></li>
                </ul>
                <ul class="navbar-nav mt-2">
                    <li class="nav-item"><a class="nav-link" href="/">Register</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!--Event Coordinators-->
    <h1 class="heading-sites">Event Coordinators</h1>
    <div class="four-person">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="contact">
                    <div class="img">
                        <img src="/images/temp/f.jpg" class="img-fluid mx-auto d-block rounded-circle contact-img">
                        <span class="tag stag">
                            Name
                        </span>
                    </div>
                    <div>
                        <br>
                        Email id:
                    </div>
                </div>
            </div>
            <br>

            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="contact">
                    <div class="img">
                        <img src="/images/temp/f.jpg" class="img-fluid mx-auto d-block rounded-circle contact-img">
                        <span class="tag stag">
                            Name
                        </span>
                    </div>
                    <div>
                        <br>
                        Email id:
                    </div>
                </div>
            </div>
            <br>

            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="contact">
                    <div class="img">
                        <img src="/images/temp/f.jpg" class="img-fluid mx-auto d-block rounded-circle contact-img">
                        <span class="tag stag">
                            Name
                        </span>
                    </div>
                    <div>
                        <br>
                        Email id:
                    </div>
                </div>
            </div>
            <br>

    
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="contact">
                    <div class="img">
                        <img src="/images/temp/f.jpg" class="img-fluid mx-auto d-block rounded-circle contact-img">
                        <span class="tag stag">
                            Name
                        </span>
                    </div>
                    <div>
                        <br>
                        Email id:
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
    
    <br><hr><br>
    <!--Event Organizers-->
    <h1 class="heading-sites">Event Organizers</h1>
    <div class="four-person">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="contact">
                    <div class="img">
                        <img src="/images/temp/f.jpg" class="img-fluid mx-auto d-block rounded-circle contact-img">
                        <span class="tag stag">
                            Name
                        </span>
                    </div>
                    <div>
                        <br>
                        Email id:
                    </div>
                </div>
            </div>
            <br>

            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="contact">
                    <div class="img">
                        <img src="/images/temp/f.jpg" class="img-fluid mx-auto d-block rounded-circle contact-img">
                        <span class="tag stag">
                            Name
                        </span>
                    </div>
                    <div>
                        <br>
                        Email id:
                    </div>
                </div>
            </div>
            <br>

            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="contact">
                    <div class="img">
                        <img src="/images/temp/f.jpg" class="img-fluid mx-auto d-block rounded-circle contact-img">
                        <span class="tag stag">
                            Name
                        </span>
                    </div>
                    <div>
                        <br>
                        Email id:
                    </div>
                </div>
            </div>
            <br>

    
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="contact">
                    <div class="img">
                        <img src="/images/temp/f.jpg" class="img-fluid mx-auto d-block rounded-circle contact-img">
                        <span class="tag stag">
                            Name
                        </span>
                    </div>
                    <div>
                        <br>
                        Email id:
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
		
    <br><br><br>

    <footer>
        <div class="container"><hr><br>
            <div class="row">
              <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                  <li class="list-inline-item">
                    <a href="https://www.facebook.com/iitgn.official/" target="_blank" id = "footer-icon">
                      <span class="fa-stack fa-lg">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-facebook-f  fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="https://iitgn.ac.in/" target="_blank" id = "footer-icon">
                      <span class="fa-stack fa-lg">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>
                  </li>
                  <li class="list-inline-item" >
                    <a href="mailto:hallabol@iitgn.ac.in" target="_blank" id = "footer-icon">
                      <span class="fa-stack fa-lg">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>
                  </li>
                  <li class="list-inline-item" >
                    <a href="https://www.youtube.com/user/IITGN1" target="_blank" id = "footer-icon">
                      <span class="fa-stack fa-lg">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>
                  </li>
                </ul>
                <p class="copyright text-muted text-center">Copyright &copy; Hallabol 2021</p>
              </div>
            </div>
        </div>
    </footer>  
    </div>      

    <!--Scripts-->
    <script src = "//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
    <script src = "https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity = "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin = "anonymous"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity = "sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin = "anonymous"></script>
    <script src = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity = "sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin = "anonymous"></script>
    <script src = "/js/index.js"></script>
</body>
</html>