html {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    max-width: 100vw !important;
    text-align: justify;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
  
body, .site {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    max-width: 100vw !important;
    text-align: justify;
    background-color: black;
    color: white;
}

div.gameName{
  text-align: center; margin-top: 3vh; font-size: 4vh;
}

.setionHeading{
  font-weight: 600;margin-top:10vh; margin-bottom: 5vh; padding-left: 5vw; padding-right: 5vw; padding-bottom: 3vh;
}

div.bootCols{
  /* width: 20vw; height: 32vh;  */
  position:relative;
  /* background-color: white; */
  border-radius: 20px;  
  display: inline-block; 
  /* margin-top: 10vw; */
  margin-bottom: 10vh; 
  top: 2vw; left: 2vw;
}


/*Scrollbar Handle */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track-piece {
    /* background-color: rgb(199, 207, 253); */
    background-color: rgb(211, 211, 211);
}

::-webkit-scrollbar-thumb {
    /* background: #007bff; */
    background: rgb(113, 121, 126);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    /* background: rgb(2, 43, 87); */
    background: rgb(129, 133, 137)
    ;
}

.img > img{
  padding: 3vw;
  margin-bottom: 2vh; 
}

.contact{
  text-align: center;
  margin-bottom: 6vh;
}

/* .tagStag{
  font-size: 2vw;
} */

.carousel-inner img{
  height: 150vh;
}

.hallabol_video {
    padding: 4%;
    border-width: 0;
    width: 100%;
    height: 100%;
}

@keyframes bounce {
    60%, 80%, to { 
      transform: translateY(400px); 
      animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    }
    70% { transform: translateY(300px); }
    90% { transform: translateY(360px); }
  }

@keyframes roll {
    from { 
      transform: translateY(400px) rotate(0deg);
    }
    to { 
      transform: translate(800px, 400px) rotate(359deg);
    }
  }
  
.ball {
    width: 50px;
    height: 50px;
    
    background: rgb(255,140,105);
    background: radial-gradient(at 30% 30%,  rgba(251,199,199,1), rgba(255,140,105,1));
  
    border-radius: 50%;
    margin: 0 auto 0 25px;
    
    animation: bounce 2s cubic-bezier(.755, .05, .855, .06) forwards,
               roll 3s 2.05s ease forwards;
}


#mySidebar{
  border-right: 3px solid white;
}

@media (max-width: 575px) {
  body{font-size: 15px;}
}

@media (max-width: 767px) {
  body{font-size: 20px;}
}

@media (min-width: 768px) {
  body{font-size: 30px;}
}
/*  */
/*  */
@media (max-width: 575px) {
  .setionHeading{font-size: 10px;}
}

@media (max-width: 767px) {
  .setionHeading{font-size: 30px;}
}

@media (min-width: 768px) {
  .setionHeading{font-size: 40px;}
}
/*  */
/*  */
@media (max-width: 1100px) {
  .sidebarFont{font-size: 26px;}
}

@media (min-width: 1101px) {
  .sidebarFont{font-size: 20px;}
}

/*  */
/*  */

.container {
		height: 70vh;
}
svg {
	height: 100%;
	width: 100%;
	position: relative;
}
