html {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  max-width: 100vw !important;
  text-align: justify;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body, .site {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  max-width: 100vw !important;
  text-align: justify;
  background-color: black;
  color: white;
}

div.gameName{
text-align: center; margin-top: 2vw; font-size: 3.5vh;
}

.setionHeading{
font-weight: 600;margin-top:10vh; margin-bottom: 5vh; padding-left: 5vw; padding-right: 5vw; padding-bottom: 3vh;
}

div.bootCols{
/* width: 20vw; height: 32vh;  */
position:relative;
/* background-color: white; */  
display: inline-block; 
  text-align: center;
/* margin-top: 10vh; */
/* margin-bottom: 10vh;  */
/* top: 2vw; left: 2vw; */
}


/*Scrollbar Handle */
::-webkit-scrollbar {
  width: 5px;
  /* display: none; */
}

::-webkit-scrollbar-track-piece {
  /* background-color: rgb(199, 207, 253); */
  background-color: rgb(211, 211, 211);
}

::-webkit-scrollbar-thumb {
  /* background: #007bff; */
  background: rgb(113, 121, 126);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  /* background: rgb(2, 43, 87); */
  background: rgb(129, 133, 137)
  ;
}

.img > img{
/* padding: 3vw; */
margin-bottom: 2vh; 
width: 60%;
height: 60%;
}

.contact{
text-align: center;
margin-bottom: 6vh;
}

.tagStag{
font-size: 3.5vh;
}

.carousel-inner img{
height: 55vw;
text-align: center;
align-content: center;
}

.carousel-control-prev, .carousel-control-next{
/* height: ; */
height: 55vw;
}

.hallabol_video {
  padding: 4%;
  border-width: 0;
  width: 100%;
  height: 100%;
}

.video1{
margin: auto;
display: block;
float: left;
border-radius: 10px;
}

@keyframes bounce {
  60%, 80%, to { 
    transform: translateY(400px); 
    animation-timing-function: cubic-bezier(.215, .61, .355, 1);
  }
  70% { transform: translateY(300px); }
  90% { transform: translateY(360px); }
}

@keyframes roll {
  from { 
    transform: translateY(400px) rotate(0deg);
  }
  to { 
    transform: translate(800px, 400px) rotate(359deg);
  }
}

.ball {
  width: 50px;
  height: 50px;
  
  background: rgb(255,140,105);
  background: radial-gradient(at 30% 30%,  rgba(251,199,199,1), rgba(255,140,105,1));

  border-radius: 50%;
  margin: 0 auto 0 25px;
  
  animation: bounce 2s cubic-bezier(.755, .05, .855, .06) forwards,
             roll 3s 2.05s ease forwards;
}


#mySidebar{
border-right: 2px solid white;
}

@media (max-width: 575px) {
body{font-size: 15px;}
}

@media (max-width: 767px) {
body{font-size: 20px;}
}

@media (min-width: 768px) {
body{font-size: 30px;}
}
/*  */
/*  */
@media (max-width: 575px) {
.setionHeading{font-size: 10px;}
}

@media (max-width: 767px) {
.setionHeading{font-size: 30px;}
}

@media (min-width: 768px) {
.setionHeading{font-size: 40px;}
}
/*  */
/*  */
@media (max-width: 1100px) {
.sidebarFont{font-size: 26px;}
}

@media (min-width: 1101px) {
.sidebarFont{font-size: 20px;}
}

/*  */
/*  */

.container {
  height: 70vh;
}
svg {
height: 100%;
width: 100%;
position: relative;
}

#login_ {
color: black;
margin-right: 10px;
background-color: white;
border-radius: 8px;
width: 90px;
/* background-color: cadetblue; */
}

#logout_ {
  color: black;
  margin-right: 30;
  background-color: white;
  border-radius: 8px;
  width: 90px;
  margin-right: 15px;
  /* background-color: cadetblue; */
  }

.sectionHeading{
font-family: "poppins";
}


.sidebar{
position: fixed;
left: 0;
top: 0;
height: 100%;
width: 78px;
background:black;
padding: 0;
z-index: 99;
transition: all 0.5s ease;
}
.sidebar.open{
width: 250px;
}
.sidebar .logo-details{
height: 60px;
display: flex;
align-items: center;
position: relative;
}
.sidebar .logo-details .icon{
opacity: 0;
transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
font-family: "Poppins";
color: #fff;
font-size: 30px;
font-weight: 600;
opacity: 0;
transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
opacity: 1;
}
.sidebar .logo-details #btn{
position: absolute;
top: 50%;
right: 0;
transform: translateY(-50%);
font-size: 35px;
text-align: center;
cursor: pointer;
transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
text-align: right;
size: 20px;
}
.sidebar i{
color: #fff;
height: 60px;
min-width: 70px;
font-size: 28px;
text-align: center;
line-height: 60px;
}
.sidebar .nav-list{
margin-top: 20px;
height: 100%;
}
.sidebar li{
position: relative;
margin: 16px 0;
list-style: none;
}
.sidebar li .tooltip{
position: absolute;
top: -20px;
left: calc(100% + 15px);
/* left: 0; */
z-index: 3;
background: black;
padding: 6px 12px;
border-radius: 4px;
font-size: 15px;
font-weight: 400;
opacity: 0;
white-space: nowrap;
pointer-events: none;
transition: 0s;
}
.sidebar li:hover .tooltip{
opacity: 1;
pointer-events: auto;
transition: all 0.4s ease;
top: 50%;
transform: translateY(-50%);
}
.sidebar.open li .tooltip{
display: none;
}
.sidebar input{
font-size: 15px;
color: #FFF;
font-weight: 400;
outline: none;
height: 50px;
width: 100%;
width: 50px;
border: none;
border-radius: 12px;
transition: all 0.5s ease;
background: #1d1b31;
}
.sidebar.open input{
padding: 0 20px 0 50px;
width: 100%;
}

.sidebar li a{
display: flex;
height: 100%;
width: 100%;
border-radius: 12px;
align-items: center;
text-decoration: none;
transition: all 0.4s ease;
background: #11101D;
}
.sidebar li a:hover{
background: #FFF;
}
.sidebar li a .links_name{
color: white;
font-size: 15px;
font-weight: 400;
white-space: nowrap;
opacity: 0;
pointer-events: none;
transition: 0.4s;
}
.sidebar.open li a .links_name{
opacity: 1;
pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
transition: all 0.5s ease;
color: #11101D;
}
.sidebar li i{
height: 50px;
line-height: 50px;
font-size: 18px;
border-radius: 12px;
}

.site{
position: relative;
/* background: #E4E9F7; */
min-height: 100vh;
top: 0;
left: 78px;
width: calc(100% - 78px);
transition: all 0.5s ease;
z-index: 2;
}
.sidebar.open ~ .site{
left: 250px;
width: calc(100% - 250px);
}
.site .text{
display: inline-block;
color: #11101d;
font-size: 25px;
font-weight: 500;
margin: 18px
}
@media (max-width: 420px) {
.sidebar li .tooltip{
  display: none;
}
}

a:hover{
  /* background-color: white; */
  text-decoration: none;
  color: inherit;
}

#navHorList{
  display: none;
}

@media screen and (max-width: 700px) {
  .nav-list {
      display:none;
  }

  /* .navHorList{
    display:block;
  } */

  .sidebar{
    height: 5vh;
    background-color: black;
  }

  .site{
    /* top:10vh; */
    left:0%;
    width: 100%;
  }

  .sidebar.open ~ .site{
    left: 0%;
    width: 100%;
    top: 10vh;
    height: calc(100% - 20vh);
    /* height: 80%; */
    /* margin-top: 20%; */
  }

  

  .sidebar.open{
    width: 100vw;
    height: 20vh;
  }
/* 
  #stickyTop{
    position: sticky; top: 0;
  } */

}
